{% extends 'DesignBundle::layout.html.twig' %}
{% block body %}
    <div class="center-wrapper">
        <h1>Imprint</h1>
        <div>
            <hr>
            <p>This website is hosted in Germany.<br>
                In accordance to §5 of the German Telemedia Act ("Telemedien Gesetz") this website is operated by:</p>
            <p>Philipp "XpEll1" Matthaeus<br>
                Freisinger Landstraße 47<br>
                D-85748 Garching</p>
            <p>Contact me at <a href="mailto:webmaster@phimath.de">webmaster@phimath.de</a>.</p>
        </div>
    </div>
{% endblock %}