{% set bundle = 'phimath Homepage' %}
{% set base = '/' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-env="{{ app.environment }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% if title is defined and title is not empty %}{{ title }} | {% endif %}phimath</title>
    {% block stylesheets %}
        {% stylesheets '@DesignBundle/Resources/public/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts '@DesignBundle/Resources/public/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

    {% if blog_publisher is defined and blog_publisher is not empty %}
        <link href="{{ blog_publisher }}" rel="publisher"/>
    {% endif %}
    {% if canonical is defined and canonical is not empty %}
        <link rel="canonical" href="{{ canonical }}"/>
    {% endif %}
    <base href="{{ base }}">
    {% block meta %}
        <meta name="phi-bundle" content="{#{ app.request.attributes.get('_controller') }#}"/>
        <meta name="phi-authenticated" content="{% if app.user %}true{% else %}false{% endif %}"/>
    {% endblock %}
</head>
{% block bodydefinition %}
<body class="theme-default aui-layout aui-theme-default">{% endblock %}
<div id="page">
    <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
            <div class="aui-header-inner">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-custom">
                        <a href="{{ path('phimath.design.content.index') }}" title="Home"><span>phimath</span></a>
                    </h1>
                    <ul class="aui-nav" style="width: auto;">
                        <li class="aui-buttons">
                            <a href="{{ path('phimath.design.content.index') }}" class="aui-button aui-button-primary"
                               title="Home" tabindex="0"><span>Home</span></a>
                        </li>
                        <li class="aui-buttons">
                            <a href="{{ path('phimath.blog.public.index') }}" class="aui-button aui-button-primary"
                               title="Switch to the blog" tabindex="0"><span>Blog</span></a>
                        </li>
                    </ul>
                </div>
                <div class="aui-header-title transfer-color-strict">
                    <h3>{{ bundle }}</h3>
                </div>
                <div class="aui-header-secondary">
                    <ul class="aui-nav">
                        {% if app.environment != 'prod' %}
                            <li>
                                <div class="item"><span class="aui-icon aui-icon-small aui-iconfont-configure confluence-information-macro-icon"></span> {{ app.environment }}</div>
                            </li>
                        {% endif %}
                        {% if enabled is defined and enabled != 'false' %}
                            <li>
                                <div class="item"><span class="aui-icon aui-icon-small aui-iconfont-warning confluence-information-macro-icon"></span> Maintenance</div>
                            </li>
                        {% endif %}
                        <li>
                            <form id="quick-search" class="aui-quicksearch dont-default-focus header-quicksearch" action="{{ path('phimath.blog.search') }}" method="get">
                                <fieldset>
                                    <label for="quick-search-query" class="assistive">Quick Search</label>
                                    <input id="quick-search-query" class="text app-search search quick-search-query" type="text" autocomplete="off" name="queryString"
                                           title="Quick Search">
                                    <input id="quick-search-submit" class="quick-search-submit" type="submit" value="Search">
                                    {#<div class="aui-dd-parent quick-nav-drop-down" style="z-index: 2000;">
                                        <div class="aui-dropdown recently-viewed-dropdown aui-dropdown-left">
                                            <ol>
                                                <li class="with-space-name">
                                                    <a href="" class="content-type-page">
                                                        <span title="Auszubildende am LRZ (LRZ)"><em>Auszubildende am LRZ</em></span>
                                                    </a>
                                                    <a href="" class="space-name">LRZ</a>
                                                </li>
                                            </ol>
                                            <ol class="last">
                                                <li>
                                                    <a href="#" class="recently-viewed">
                                                        <span title="More recently viewed pages..."><em>More recently viewed pages...</em></span>
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>#}
                                </fieldset>
                            </form>
                        </li>
                        <li>{% if app.user %}
                                <a id="user-menu-link" class="aui-dropdown2-trigger " aria-haspopup="true" data-username="{{ app.user.username }}" href="{{ app.request.uri }}#"
                                   title="{{ app.user.username }}"
                                   aria-controls="user-menu-link-content" aria-expanded="false">
                                    <div class="aui-avatar aui-avatar-small">
                                        <div class="aui-avatar-inner">
                                            <img src="{{ app.user.image }}">
                                        </div>
                                    </div>
                                    <span class="aui-icon-dropdown"></span>
                                </a>
                                <nav id="user-menu-link-content" class="aui-dropdown2 aui-style-default aui-layer" aria-hidden="true" resolved="">
                                    <div class="aui-dropdown2-section">
                                        <ul id="user-menu-link-user-preferences" class="aui-list-truncate section-user-preferences first">
                                            <li>
                                                <a href="{{ path('phimath.blog.user.display', {'name' : app.user.username}) }}"
                                                   class="user-item personal-space">Profile</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('phimath.blog.user.edit', {'name' : app.user.username}) }}" class="user-item">Edit profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <div class="aui-dropdown2-section">
                                            <ul id="user-menu-link-user-operations" class="aui-list-truncate section-user-operations">
                                                <li><a href="{{ path('phimath.blog.admin.users.index') }}" class="user-item">Users</a></li>
                                                {% block adminmenu %}{% endblock %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% block usermenu %}{% endblock %}
                                    <div class="aui-dropdown2-section">
                                        <ul id="user-menu-link-user-operations" class="aui-list-truncate section-user-operations">
                                            <li>
                                                <a id="logout-link" href="{{ path('security.logout') }}" class="user-item logout-link" title="">
                                                    Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            {% else %}
                                <a id="login-link" class="user-item login-link" href="{{ path('security.login') }}"><span
                                            class="aui-icon aui-icon-small aui-iconfont-locked"></span>Log in</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block navigation %}{% endblock %}
    </header>
    <content>
        {% block body %}
        {% endblock %}
    </content>
    <div id="footer" role="contentinfo">
        <section class="footer-body">
            {% if blog_copyright is defined and blog_copyright is not empty %}
                <p class="icon-copyright">{{ blog_copyright }}</p> |
            {% endif %}
            <a class="external-link" href="{{ path('phimath.design.content.imprint') }}">Imprint</a>
        </section>
    </div>
</div>
{% set analytics = getenv('GA_ID') %}
{% if analytics is not empty %}
    {% set analyticsDir = '//www.google-analytics.com/analytics.js' %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '{{ analyticsDir }}', 'ga');
        ga('create', '{{ analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}
</body>
</html>