{% extends 'DesignBundle::layout.html.twig' %}
{% block body %}
    <div class="center-wrapper">
        <div style="padding: 10px; border: 1px solid #195657; border-left: none; border-right: none;  margin: 200px auto; text-align: center;">
            <div><span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span></div>
            <p>This website is currently under maintenance.</p>
        </div>
    </div>
{% endblock %}