*[status]:before {
    display: inline-block;
    margin-right: 1em;
    padding: 3px 5px 2px 5px;
    border-radius: 3px;
    vertical-align: baseline;
    content: attr(status);
    text-transform: uppercase;
    width: 80px;
    text-align: center;
}

li[status] {
    list-style: none;
}

*[status] {
    margin: 4px 0;
}

*[data-link]:after {
    display: inline-block;
    margin-left: 10px;
    content: "(<a>" attr(data-link) "</a>)";
}

.jira-issue-status-lozenge {
    vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12em;
    word-wrap: normal;
    word-break: normal
}

.jira-issue-status-render-error {
    color: #d04437
}

.aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-green {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c
}

.aui-lozenge.jira-issue-status-lozenge-yellow {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300
}

.aui-lozenge.jira-issue-status-lozenge-brown {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-brown {
    background-color: #fff;
    border-color: #ece7e2;
    color: #815b3a
}

.aui-lozenge.jira-issue-status-lozenge-warm-red {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-warm-red {
    background-color: #fff;
    border-color: #f8d3d1;
    color: #d04437
}

.aui-lozenge.jira-issue-status-lozenge-blue-gray {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-blue-gray {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785
}

.aui-lozenge.jira-issue-status-lozenge-medium-gray {
    background-color: #ccc;
    border-color: #ccc;
    color: #333
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-medium-gray {
    background-color: #fff;
    border-color: #ccc;
    color: #333
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-blue-gray {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-yellow {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300
}

.aui-lozenge.jira-issue-status-lozenge-compact {
    width: 4px;
    text-align: left;
    text-indent: -9999px
}

.jira-issue-status-tooltip .tipsy-inner {
    text-align: left
}

.jira-issue-status-tooltip .jira-issue-status-tooltip-title {
    text-transform: uppercase
}

.jira-issue-status-tooltip .jira-issue-status-tooltip-desc {
    color: #ccc
}

.jira-issue-status-lozenge-max-width-short {
    max-width: 8em
}

.jira-issue-status-lozenge-max-width-medium {
    max-width: 12em
}

.jira-issue-status-lozenge-max-width-long {
    max-width: 20em
}

/* module-key = 'com.comalatech.workflow:bundled', location = 'templates/com/comalatech/workflow/embedded/css/aui5.css' */
.aui-lozenge {
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 1px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.aui-lozenge.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ddd;
    color: #333
}

*[status="success"]:before,
.aui-lozenge-success {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff
}

.aui-lozenge-success.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c
}

.aui-lozenge-error {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff
}

.aui-lozenge-error.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #f8d3d1;
    color: #d04437
}

*[status="todo"]:before,
.aui-lozenge-current {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300
}

.aui-lozenge-current.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300
}

.aui-lozenge-complete {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff
}

.aui-lozenge-complete.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785
}

.aui-lozenge-moved {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff
}

.aui-lozenge-moved.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ece7e2;
    color: #815b3a
}