
body {
    font-family: Arial,sans-serif;
}

.global.logo, .space.logo { border-radius: 0; }
.acs-side-bar-space-info .avatar-img-container .avatar-img-wrapper {
    border-radius: 0;
    border: 0px;
}

.list-container-all-updates .update-item-title>a {
    display: inline;
}

div#footer-logo {
    visibility: hidden;
}

a.external-link {
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
    color: #333;
    text-decoration: none;
    transition: all 188ms ease;
}
a.external-link:hover {
    border-bottom-width: 3px;
    border-bottom-color: #3c88d9;
    color: #3070b3;
    text-decoration: none;
    transition: all 188ms ease;
}

.wiki-content a {
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
    color: #333;
    text-decoration: none;
    transition: all 188ms ease;
}
.wiki-content a:hover {
    border-bottom-width: 3px;
    border-bottom-color: #3c88d9;
    color: #3070b3;
    text-decoration: none;
    transition: all 188ms ease;
}

.wiki-content h2 {
    border-bottom: 1px solid #a2ad00;
}

#tinymce.wiki-content a, #tinymce.wiki-content a:link, #tinymce.wiki-content a:visited, #tinymce.wiki-content a:focus, #tinymce.wiki-content a:hover, #tinymce.wiki-content a:active {
    color: #3c88d9 !important;
}

.aui-nav-selected {
    border-left: 3px solid #3070b3;
}
a.download-all-link {
    display: none !important;
}
a#download-all-link {
    display: none !important;
}

#login-container input::-moz-placeholder {
    color: #aaa;
}
#login-container input::-webkit-input-placeholder {
    color: #aaa;
}
#login-container input:-ms-input-placeholder {
    color: #aaa;
}