.white {
    color: #fff;
}

.aluminium-silver {
    color: #b3b3b3;
}

.warm-silver{
    color: #b6b2a9;
}

.red {
    color: #ba0a31;
}

.gray-1 {
    color: #e7e7e7;
}

.gray-2 {
    color: #cccccc;
}

.gray-3 {
    color: #b2b2b2;
}

.gray-4 {
    color: #999999;
}

.gray-5 {
    color: #808080;
}

.gray-6 {
    color: #666666;
}

.gray-7 {
    color: #4d4d4d;
}

.gray-8 {
    color: #333333;
}

.gray-9 {
    color: #262626;
}

.gray-10 {
    color: #1a1a1a;
}

.background-white {
    background-color: #fff;
}

.background-aluminium-silver {
    background-color: #b3b3b3;
}

.background-warm-silver{
    background-color: #b6b2a9;
}

.background-red {
    background-color: #ba0a31;
}

.background-gray-1 {
    background-color: #e7e7e7;
}

.background-gray-2 {
    background-color: #cccccc;
}

.background-gray-3 {
    background-color: #b2b2b2;
}

.background-gray-4 {
    background-color: #999999;
}

.background-gray-5 {
    background-color: #808080;
}

.background-gray-6 {
    background-color: #666666;
}

.background-gray-7 {
    background-color: #4d4d4d;
}

.background-gray-8 {
    background-color: #333333;
}

.background-gray-9 {
    background-color: #262626;
}

.background-gray-10 {
    background-color: #1a1a1a;
}