* {
    font-family: Arial, sans-serif;
    font-style: normal;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10pt;
}

.transfer-color > * {
    color: inherit !important;
}

.transfer-color-strict * {
    color: inherit !important;
}

/*-------------------------
	Layout
--------------------------*/

.container {
    padding: 80px 30px 15px;
    height: inherit;
}

.center-wrapper {
    width: 800px;
    margin: 30px auto 0;
}

.login-form h1 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #aaaaaa;
}

.login-form form table {
    border-spacing: 10px;
}

.login-form form * {
    background: inherit;
}

.login-form input {
    border-radius: 2px;
    padding: 3px 7px;
    border: 0.12em solid steelblue;
}

.login-form input[type="submit"],
.login-form input[type="button"],
.login-form button {
    padding: 2px 25px;
    border-radius: 3px;
    border: 0.2em solid #b7b7b7;
}

#footer {
    background: #205081;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}

.footer-body p,
.footer-body a {
    display: inline-block;
    margin: 0.5em 0;
    line-height: 1.2;
    color: #aaaaaa;
}

.icon-copyright:before {
    content: '©';
    margin-top: 0.1em;
    margin-right: 0.3em;
}

html[data-env="dev"] #footer {
    bottom: 36px;
}

* + .aui-nav {
    margin-left: 10px !important;
}

.aui-icon-small + * {

}

/*a:after {
    content: url('data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="2 2 20 20" xmlns="http://www.w3.org/2000/svg"><defs><marker id="head" orient="auto" markerWidth="2" markerHeight="4" refX="0.1" refY="2"><path d="M0,0 V4 L2,2 Z" fill="black" /></marker></defs><path stroke-width="1pt" fill="transparent" stroke="black" d="M12,6 6,6 6,18 18,18 18,12" /><path marker-end="url(#head)" stroke-width="1pt" fill="none" stroke="black" d="M12,12 L18,6" /></svg>');
    display: inline-block;
    margin-left: 2pt;
    position:relative;
    top:2pt;
}*/